:root {
  --archive-post-content-before-color: #f5f5f5
  --post-body-link-color: #b84848
  --post-body-link-hover-color: #db5a5a
}

if (hexo-config('darkmode')) {
  @media (prefers-color-scheme: dark) {
    :root {
      --archive-post-content-before-color: #454545
      --post-body-link-color: #c5603e
      --post-body-link-hover-color: #e5724b
    }
  }
}

// 调整归档页面 css 样式
// 隐藏归档页面总文章title
.posts-collapse .post-content .collection-title {
  display: none !important;
}

// 竖线是这个 before 元素控制的，改细，同时稍微一动位置与标题栏前的圆心对齐
// 左侧的竖线原来太抢眼了，这里弱化竖线的视觉效果
.posts-collapse .post-content ::before {
  background: var(--archive-post-content-before-color)
  margin-left: -0.5px
  top: 1em
  width: 1px
}

.posts-collapse .post-content .collection-year .collection-year-count {
  background: none
}

// 年份缩进，看起来就更有层次感
.posts-collapse .post-content .collection-year {
  margin: 40px 0 0 0;
}

// 去掉掉年份前的圆点
.posts-collapse .post-content .collection-year ::before {
  display: none;
}

// 调整归档页面的上的间距
.posts-collapse .post-content .collection-header {
  margin: 0 0 0 0;
}

// 文档标题字体整体放大，强调一下视觉效果
.posts-collapse .post-content .post-header {
  font-size: 1.1em
}

// 文档标题前的日期字体方法，原来其实是个缩小效果，这么写之后就取消了缩小效果
.posts-collapse .post-content .post-meta-container {
  font-size: inherit; /* or use initial or unset */
}

// 减小页面最上方的空隙
.archive .post-block :first-of-type {
  padding-top: 0;
}

// 归档页 title 添加选中的加粗放大效果和动画
.posts-collapse .post-content .post-title {
  transition: font-size 0.1s ease, font-weight 0.1s ease; /* 添加过渡动画 */
}

.posts-collapse .post-content .post-title:hover {
  font-weight: bold;
  font-size: 1.1em; /* 放大字体大小，1.1em 表示放大 10% */
}

// 首页 post 间距调整
.posts-expand .post-block:first-of-type {
  padding-top: 40px;
}

.posts-expand .post-block:not(:first-of-type) {
  margin-top: 60px;
}

// 分页
.pagination {
  margin: 60px 0 0;
}

.pagination .prev,
.pagination .next,
.pagination .page-number,
.pagination .space {
  margin: -1px 10px 0 0;
  padding: 0 10px;
}

// 减小 tag 页面最上方的空隙
.tag .post-block:first-of-type {
  padding-top: 0;
}

// 减小 category 页面最上方的空隙
.category .post-block:first-of-type {
  padding-top: 0;
}

// 修改正文中的超链接颜色,但不修改阅读原文的链接颜色
.post-body a:not(.btn) {
  color: var(--post-body-link-color) //超链接显示颜色
  border-bottom-color: var(--post-body-link-color)

  &:hover {
    color: var(--post-body-link-hover-color); //鼠标移动上去后超链接颜色
    border-bottom-color: var(--post-body-link-hover-color)
  }
}
